<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p1>{{screamIt wellcomeMessage}}</p1>
        {{> footer}}
    </body>
</html>